#stopwatch {
    font-size: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.buttons {
    position: absolute;
    top: 30%;
    left: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}